<div class="fullsize">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="page-title">Reportes Sucursal <%= current_user.location.name %></h3>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><%= link_to "Reportes", reports_path, :class => "disabled has-submenu" %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper" id="admin">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#por_recibir" aria-controls="por_recibir" role="tab" data-toggle="tab">Por recibir</a></li>
      <li role="presentation"><a href="#en_revision" aria-controls="en_revision" role="tab" data-toggle="tab">En Revision</a></li>
      <li role="presentation"><a href="#terminados" aria-controls="terminados" role="tab" data-toggle="tab">Pendientes de Enviar</a></li>
      <li role="presentation"><a href="#entregados" aria-controls="entregados" role="tab" data-toggle="tab">Finalizados y entregados</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="por_recibir">
        <%= render 'reports/receptionist/porrecibir' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="en_revision">
        <%= render 'reports/receptionist/enrevision' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="terminados">
        <%= render 'reports/receptionist/terminados' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="entregados">
        <%= render 'reports/receptionist/entregados' %>
      </div>
    </div>
  </div>

</div>
