<div class="fullsize">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="page-title">Editar contraseña</h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><%= link_to "Home", root_path, :class => "disabled has-submenu" %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <div class="container container-inner"> <!-- Container -->
    <div class="row">
      <div class="col-md-12">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.label :password, "Nueva contrseña" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirmacion" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Cambiar contraseña", :class => "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
