<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cost.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cost.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cost.price %>
</p>

<p>
  <strong>Totla:</strong>
  <%= @cost.totla %>
</p>

<p>
  <strong>Report:</strong>
  <%= @cost.report_id %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
