<h1>NewZiber BETA TEST</h1>
<p>Se ha agregado la opcion de crear empleados y asignarles un role y ubicacion, asi mismo esta habilitado la opcion de editar a los empleados y elimarlos.</p>
<p><strong>Admin: </strong>admin@admin.com</p>
<p><strong>AdminPassword: </strong>admin666</p><br>
<p><strong>Manager: </strong>manager@admin.com</p>
<p><strong>ManagerPassword:</strong>manager666</p><br>
<p><strong>Technician: </strong>technician@admin.com.com</p>
<p><strong>TechnicianPassword:</strong>technician666</p><br>
<p><strong>Receptionist: </strong>receptionist@admin.com</p>
<p><strong>ReceptionistPassword:</strong>receptionist666</p><br>
<p><%= link_to "Ubicaciones", locations_path %></p>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
  <% if current_user.admin? %>
    <%= link_to('Edit registration', edit_user_registration_path) %> | 
    <%= link_to('New User', new_users_admin_path) %>
  <% end %>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
