<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text1 %><br>
    <%= f.text_field :text1 %>
  </div>
  <div class="field">
    <%= f.label :text2 %><br>
    <%= f.text_field :text2 %>
  </div>
  <div class="field">
    <%= f.label :text3 %><br>
    <%= f.text_field :text3 %>
  </div>
  <div class="field">
    <%= f.label :text4 %><br>
    <%= f.text_field :text4 %>
  </div>
  <div class="field">
    <%= f.label :text5 %><br>
    <%= f.text_field :text5 %>
  </div>
  <div class="field">
    <%= f.label :text6 %><br>
    <%= f.text_field :text6 %>
  </div>
  <div class="field">
    <%= f.label :text7 %><br>
    <%= f.text_field :text7 %>
  </div>
  <div class="field">
    <%= f.label :text8 %><br>
    <%= f.text_field :text8 %>
  </div>
  <div class="field">
    <%= f.label :text9 %><br>
    <%= f.text_field :text9 %>
  </div>
  <div class="field">
    <%= f.label :text10 %><br>
    <%= f.text_field :text10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
