<p id="notice"><%= notice %></p>

<p>
  <strong>Text1:</strong>
  <%= @page.text1 %>
</p>

<p>
  <strong>Text2:</strong>
  <%= @page.text2 %>
</p>

<p>
  <strong>Text3:</strong>
  <%= @page.text3 %>
</p>

<p>
  <strong>Text4:</strong>
  <%= @page.text4 %>
</p>

<p>
  <strong>Text5:</strong>
  <%= @page.text5 %>
</p>

<p>
  <strong>Text6:</strong>
  <%= @page.text6 %>
</p>

<p>
  <strong>Text7:</strong>
  <%= @page.text7 %>
</p>

<p>
  <strong>Text8:</strong>
  <%= @page.text8 %>
</p>

<p>
  <strong>Text9:</strong>
  <%= @page.text9 %>
</p>

<p>
  <strong>Text10:</strong>
  <%= @page.text10 %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
