<h1>Empleados</h1>
<div class="table-responsive">
  <table class = "datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Sucursal</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, users_admin_path(user) %></td>
          <td><%= user.charge %></td>
          <td><%= user.location.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if can? :create, @user %>
  <p><%= link_to "Agregar Empleado", new_users_admin_path %></p>
<% end %>
<p><%= link_to "Home", root_path %></p>
