<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Catidad</th>
    </tr>
  </thead>
  <tbody>
    <% @brand.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
