<h1><%= @brand.name %></h1>
<h3>Productos</h3>
<div class="table-responsive">
  <table class = "datatable">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Categoria</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <% @brand.products.each do |product| %>
        <tr>
          <td><%= link_to product do %><i class="fa fa-eye"></i><% end %> <%= product.name %></td>
          <td><%= product.category.name %></td>
          <td><%= product.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h3>Reportes</h3>
<div class="table-responsive">
  <table class="datatable">
    <thead>
      <tr>
        <th>Clave</th>
        <th>Cliente</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @brand.reports.each do |report| %>
        <tr>
          <td><%= link_to report do %><i class="fa fa-eye"></i><% end %><%= report.pin %></td>
          <td><%= report.client.clientname %></td>
          <td><%= report.fninished %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h3>Productos Descompuestos</h3>
<div class="table-responsive">
  <table class="datatable">
    <thead>
      <tr>
        <th>Modelo</th>
        <th>No. de Serie</th>
        <th>Marca</th>
        <th>Sucrusal</th>
        <th>Reporte</th>
      </tr>
    </thead>
    <tbody>
      <% @brand.break_products.each do |b_product| %>
        <tr>
          <td><%= link_to b_product do %><i class="fa fa-eye"></i><% end %> <%= b_product.model %></td>
          <td><%= b_product.serial %></td>
          <td><%= b_product.brand.name %></td>
          <td><%= b_product.location.name %></td>
          <td><%= b_product.report.pin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%=  @brand.logo.path %>
<%= image_tag @brand.logo.url(:medium) %>

<% if can? :update, @brand %>
  <p><%= link_to 'Editar', edit_brand_path(@brand) %></p>
<% end %>
<p><%= link_to 'Regresar', brands_path %></p>
