<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
  <p><%= link_to "Marcas", brands_path %></p>
  <p><%= link_to "Categorias", categories_path %></p>
  <p><%= link_to "Ubicación", locations_path %></p>
  <p><%= link_to "Productos", products_path %></p>
  <p><%= link_to('Edit registration', edit_user_registration_path) %></p>
  <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
<% else %>
  <p><%= link_to('Login', new_user_session_path)  %></p>
<% end %>

<br>

<%= link_to 'New Category', new_category_path %>
