<h1><%= @category.name %></h1>
<div class="table-responsive">
  <table class = "datatable">
    <thead>
      <tr>
        <th>Prodcuto</th>
        <th>Marca</th>
        <th>Catidad</th>
        <th>Sucursal</th>
      </tr>
    </thead>
    <tbody>
      <% @category.products.each do |product| %>
        <tr>
          <td><%= link_to product do %><i class="fa fa-eye"></i><% end %> <%= product.name %></td>
          <td><%= product.brand.name %></td>
          <td><%= product.quantity %></td>
          <td><%= product.location.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if can? :update, @category %>
  <p><%= link_to 'Editar', edit_category_path(@category) %></p>
<% end %>
<%= link_to 'Regresar', categories_path %>
