<div class="fullsize">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="page-title">Reporte <small><%= @report.pin %></small></h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><%= link_to "Home", root_path, :class => "disabled has-submenu" %></li>
            <li>Reporte <small><%= @report.pin %></small></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <div class="container container-inner"> <!-- Container -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-color heading-single text-center"><span>Tecnico</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>Nombre: <%= @report.user.username if @report.user_id_present? %></p>
        <p>Email: <%= @report.user.email if @report.user_id_present? %></p>
        <p>Asigando: <%= @report.delivered_at.strftime('%d/%m/%y') if @report.user_id_present? %></p>
      </div>
    </div>
    <h2 class="title-color heading-single text-center"><span>Producto</span></h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>No. de Serie</th>
            <th>Lugar de Compra</th>
            <th>Fecha de Compra</th>
            <% if @report.cooler_pin.present? %><th><%= @report.cooler_pin %></th><% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @report.brand.name %></td>
            <td><%= @report.model %></td>
            <td><%= @report.serial %></td>
            <td><%= @report.store %></td>
            <td><%= @report.bought_at.strftime('%d/%m/%y %R')%></td>
            <% if @report.cooler_pin.present? %><td><%= @report.cooler_pin %></td><% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <h2 class="title-color heading-single text-center"><span>Etapas de Revision</span></h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Comentario</th>
          </tr>
        </thead>
        <tbody>
          <% @report.inspections.each do |inspection| %>
            <tr class = "inspection-list">
              <td><%= inspection.title %></td>
              <td><%= inspection.comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="icon-wrapper icon-border-round fa-2x color-default">
      <%= link_to report_path(format: 'pdf') do %>
        <i class="fa fa-print"></i>
      <% end %>
    </div>
  </div>
</div>
