<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Quantity</th>
      <th>Location</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category.name %></td>
        <td><%= product.brand.name %></td>
        <td><span id="quantity"%><%= product.quantity %></span></td>
        <td><%= product.location.name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= form_for product, url: add_quantity_product_path(product), remote: true do |f| %>
            <strong>Agregar Cantidad</strong>
            <%= f.text_field :quantity %>
            <%= f.submit "Set" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
  <p><%= link_to "Marcas", brands_path %></p>
  <p><%= link_to "Categorias", categories_path %></p>
  <p><%= link_to "Ubicación", locations_path %></p>
  <p><%= link_to "Productos", products_path %></p>
  <p><%= link_to('Edit registration', edit_user_registration_path) %></p>
  <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
<% else %>
  <p><%= link_to('Login', new_user_session_path)  %></p>
<% end %>
<br>

<%= link_to 'New Product', new_product_path %>
