<h1>Productos</h1>
<div class="table-responsive">
  <table class = "datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Sucursal</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product do %><i class="fa fa-eye"></i><% end %> <%= product.name %></td>
          <td><%= product.category.name %></td>
          <td><%= product.brand.name %></td>
          <td><%= product.location.name %></td>
          <td><span id="quantity"%><%= product.quantity %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<% if can? :create, @product %>
  <p><%= link_to 'Agregar Producto', new_product_path %></p>
<% end %>
<p><%= link_to "Home", root_path %></p>
