<div class="fullsize">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="page-title"><%= @product.name %></h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><%= link_to "Productos", products_path, :class => "disabled has-submenu" %></li>
            <li><%= @product.name %></li>
            <% if can? :update, @brand %>
              <li><%= link_to 'Editar', edit_product_path(@product) %></li>
            <% end %>
            <% if can? :destroy, @brad %>
              <li><%= link_to 'Eliminar',  @product, :confirm => 'Seguro?', :method => :delete %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Categoria:</strong>
  <%= @product.category.name %>
</p>
<p>
  <strong>Marca:</strong>
  <%= @product.brand.name %>
</p>
<p>
  <strong>Sucursal:</strong>
  <%= @product.location.name %>
</p>
<p>
  <strong>Cantidad:</strong>
  <span id="quantity"%><%= @product.quantity %></span>
</p>
<% if can? :update, @product %>
  <div id="quantity">
    <%= form_for @product, url: add_quantity_product_path(@product), remote: true do |f| %>
      <strong>Agregar Cantidad</strong>
      <%= f.text_field :quantity %>
      <%= f.submit "Agregar" %>
    <% end %>
  </div>
<% end %>
<br>
<%if can? :update, @product %>
  <p><%= link_to 'Editar', edit_product_path(@product) %></p>
<% end %>
<p><%= link_to 'Regresar', products_path %></p>
