<h1>Reporte <small><%= @report.pin %></small></h1>
<h2>Asignado a: <small><%= @report.name %></small></h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>No. de Serie</th>
        <th>Lugar de Compra</th>
        <th>Fecha de Compra</th>
        <% if @report.cooler_pin.present? %>
          <th>CoolerMaster Codigo</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @report.brand.name %></td>
        <td><%= @report.model %></td>
        <td><%= @report.serial %></td>
        <td><%= @report.store %></td>
        <td><%= @report.bought_at.strftime('%d/%m/%y') %></td>
        <% if @report.cooler_pin.present? %>
          <td><%= @report.cooler_pin %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<h3>Etapas de Revision</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Comentario</th>
      </tr>
    </thead>
    <tbody>
      <% @report.inspections.each do |inspection| %>
        <tr class = "inspection-list">
          <td><%= inspection.title %></td>
          <td><%= inspection.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h3>Productos Utilizados en las Revisiones</h3>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @report.costs.each do |cost| %>
        <tr>
          <td><%= cost.name %></td>
          <td><%= number_to_human(cost.quantity) %></td>
          <td><%= number_to_currency(cost.price) %></td>
          <td><%= number_to_currency(cost.total) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'Imprimir', report_path(format: 'pdf') %>
