<div class="fullsize">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="page-title"><%= @report.pin %></h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><%= link_to "Reportes", reports_path, :class => "disabled has-submenu" %></li>
            <li><%= @report.pin %></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper" id="admin">
  <div class="row">
    <h2 class="title-color heading-single text-center"><span>Asignado a: <small><%= @report.name %></small></span></h2>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>No. de Serie</th>
          <th>Lugar de Compra</th>
          <th>Fecha de Compra</th>
          <% if @report.cooler_pin.present? %>
            <th>CoolerMaster Codigo</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @report.brand.name %></td>
          <td><%= @report.model %></td>
          <td><%= @report.serial %></td>
          <td><%= @report.store %></td>
          <td><%= @report.bought_at.strftime('%d/%m/%y') %></td>
          <% if @report.cooler_pin.present? %>
            <td><%= @report.cooler_pin %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <br>
    <h2 class="title-color heading-single text-center"><span>Etapas de Revision</span></h2>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        <% @report.inspections.each do |inspection| %>
          <tr class = "inspection-list">
            <td><%= inspection.title %></td>
            <td><%= inspection.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <br>
    <h2 class="title-color heading-single text-center"><span>Productos Utilizados</span></h2>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @report.costs.each do |cost| %>
          <tr>
            <td><%= cost.name %></td>
            <td><%= number_to_human(cost.quantity) %></td>
            <td><%= number_to_currency(cost.price) %></td>
            <td><%= number_to_currency(cost.total) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Imprimir', report_path(format: 'pdf') %>
</div>
