<% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

    <ul>
    <% @report.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@report) do |f| %>
  <div class="form-group">
    <%= f.label :brand_id, "Marca" %>
    <div class="form-group">
      <%= collection_select(:report, :brand_id, Brand.all, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :model, "Modelo" %>
    <%= f.text_field :model, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :serial, "No. de Serie" %>
    <%= f.text_field :serial, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :store, "Lugar de Compra" %>
    <%= f.text_field :store, :class => "form-control" %>
  </div>
  <div class="form-group" id="lolo" >
    <%= f.label :cooler_pin, "Codigo de CoolerMaster" %>
    <%= f.text_field :cooler_pin, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bought_at, "Fecha de Compra" %>
    <%= date_select(:report, :bought_at, order: [:day, :month, :year], start_year: Date.today.year - 10 , end_year: Date.today.year) %>
  </div>
  <div class="form-group">
    <%= f.label :comment, "Motivo" %>
    <%= f.text_area :comment, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location_id, "Sucursal a enviar el producto" %>
    <div class="form-group">
      <%= collection_select(:report, :location_id, Location.all, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Aceptar", :class => "btn btn-success" %>
  </div>
<% end %>
