<div class="table-responsive">
  <table class="datatable">
    <thead>
      <tr>
        <th>Clave</th>
        <th>Clente</th>
        <th>Producto</th>
        <th>Fecha de Asignacion</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.not_finished.each do |report| %>
        <tr>
          <td><%= link_to report do %><i class="fa fa-eye"></i><% end %><%= report.pin %></td>
          <td><%= report.client.name %></td>
          <td><%= report.model %></td>
          <td><%= report.delivered_at.strftime('%d/%m/%y %R') %></td>
          <td><%= report.finished %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
