<h1>Sucursales</h1>
<div class="table-responsive">
  <table class = "datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Gerente</th>
        <th>Telefono</th>
        <th>No. de Reportes</th>
        <th>Inventario Descompuestos</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= link_to location do %><i class="fa fa-eye"></i><% end %> <%= location.name %></td>
          <td><%= location.manager %></td>
          <td><%= location.phone %></td>
          <td><%= location.reports.count %></td>
          <td><%= location.break_products.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<% if can? :create, @location %>
  <p><%= link_to 'Agregar Sucursal', new_location_path %></p>
<% end %>
<p><%= link_to 'Home', root_path %></p>
