<h1>Sucursales</h1>
<div class="table-responsive">
  <table class = "table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.name %></td>
          <td><%= location.address %></td>
          <td><%= location.phone %></td>
          <% if can? :show, location  %>
            <td><%= link_to 'Ver', location %></td>
          <% end %>
          <% if can? :update, location %>
            <td><%= link_to 'Editar', edit_location_path(location) %></td>
          <% end %>
          <% if can? :destroy, location %>
            <td><%= link_to 'Eliminar', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<% if can? :create, @location %>
  <p><%= link_to 'Agregar Sucursal', new_location_path %></p>
<% end %>
<p><%= link_to 'Home', root_path %></p>
