<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>
<table>
  <thead>
    <tr>
      <th>Empleados</th>
    </tr>
  </thead>
  <tbody>
    <% @location.users.each do |user| %>
      <tr>
        <td><%= link_to user.username, users_admin_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_location_path(@location) %> |
<% end %>
<%= link_to 'Back', locations_path %>
