<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @location.name %>
</p>
<p>
  <strong>Dirección:</strong>
  <%= @location.address %>
</p>
<p>
  <strong>Telefono:</strong>
  <%= @location.phone %>
</p>
<div class="table-responsive">
  <table class = "table">
    <thead>
      <tr>
        <th>Empleados</th>
      </tr>
    </thead>
    <tbody>
      <% @location.users.each do |user| %>
        <tr>
          <td><%= link_to user.username, users_admin_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <table class = "table">
    <thead>
      <tr>
        <th>Productos</th>
      </tr>
    </thead>
    <tbody>
      <% @location.products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>
<% if can? :update, @location %>
  <p><%= link_to 'Editar', edit_location_path(@location) %></p>
<% end %>
<p><%= link_to 'Regresar', locations_path %></p>
