<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <% @location.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
