<div class="header-wrapper">
  <div class="header-bottom" >
    <div class="container"> <!-- Container -->
      <div class="row"><!-- Row-->
        <div class="col-md-12"><!-- Navigation -->
          <div class="main-navigation">
            <a id="menu-button"></a>
            <ul id="main-menu" class="sm sm-default">
              <% if user_signed_in? %>
                <% if current_user.admin? %>
                  <li class="active"><%= link_to "Marcas", brands_path %></li>
                  <li><%= link_to "Categorias", categories_path %></li>
                  <li><%= link_to "Sucursales", locations_path %></li>
                  <li><%= link_to "Productos", products_path %></li>
                  <li><%= link_to "Empleados", users_admin_index_path %></li>
                  <li><%= link_to "Reportes", reports_path %></li>
                  <li><%= link_to "Productos Descompuestos", break_products_path %></li>

                <% elsif current_user.manager? %>
                  <li><%= link_to "Productos", products_path %></li>
                  <li><%= link_to "Empleados", users_admin_index_path %></li>
                  <li><%= link_to "Reportes", reports_path %></li>
                <% elsif current_user.receptionist? %>
                  <li><%= link_to "Reportes", reports_path %></li>
                <% else %>
                  <li><%= link_to "Reportes", reports_path %></li>
                <% end %>
                <li><%= link_to "Perfil", edit_user_registration_path, :class => "disabled has-submen" %>
                  <ul>
                    <% if  can? :update, current_user %>
                      <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
                    <% end %>
                    <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div>
          <!-- /Navigation -->
        </div>
      </div> <!-- /Row -->
    </div> <!-- /Container -->
  </div><!-- /Header Bottom Container -->
</div>
