<div class="header-wrapper light-top-header center-top-header">
  <div class="header-top">  <!-- Header Top Container -->
    <div class="container"> <!-- Container -->
      <div class="row"><!-- Row-->
        <div class="col-md-6">
          <div class="top-menu-left"><!-- Top Menu Left -->
            <ul class="list-inline">
              <% if user_signed_in? %>
                <li>
                  <div class="top-login">
                    <%= link_to root_path, :class => "toggle-link" do %>
                      <i class="fa fa-home"></i> Home
                    <% end %>
                  </div>
                </li>
                <li>
                  <div class="top-login">
                    <%= link_to about_path, :class => "toggle-link" do %>
                      <i class="fa fa-eye"></i> Conocenos
                    <% end %>
                  </div>
                </li>
                <li>
                  <div class="top-login">
                    <%= link_to services_path, :class => "toggle-link" do %>
                      <i class="fa fa-key"></i> Servicios
                    <% end %>
                  </div>
                </li>
                <li>
                  <div class="top-login">
                    <%= link_to faq_path, :class => "toggle-link" do %>
                      <i class="fa fa-question"></i> Preguntas
                    <% end %>
                  </div>
                </li>
              <% else %>
                <li>
                  <div class="top-login">
                    <%= link_to new_user_session_path, :class => "toggle-link" do %>
                      <i class="fa fa-user"></i> Inicar Sesion
                    <% end %>
                </li>
              <% end %>
            </ul>
          </div><!-- /Top Menu Left -->
        </div>
        <div class="col-md-6">
          <div class="top-menu-right"><!-- Top Menu right -->
            <ul class="top-social list-inline">
              <li><a class="tooltip-on" title="Facebook" href="http://www.facebook.com"><div class="icon-wrapper icon-border-round"><i class="fa fa-facebook"></i></div></a></li>
              <li><a class="tooltip-on" title="Twitter" href="http://www.twitter.com"><div class="icon-wrapper icon-border-round"><i class="fa fa-twitter"></i></div></a></li>
              <li><a class="tooltip-on" title="Google Plus" href="http://www.google.com"><div class="icon-wrapper icon-border-round"><i class="fa fa-google-plus"></i></div></a></li>
              <li><a class="tooltip-on" title="Linkedin" href="http://www.twitter.com"><div class="icon-wrapper icon-border-round"><i class="fa fa-linkedin"></i></div></a></li>
              <li><a class="tooltip-on" title="Pinterest" href="http://www.twitter.com"><div class="icon-wrapper icon-border-round"><i class="fa fa-pinterest"></i></div></a></li>
              <li><a class="tooltip-on" title="RSS" href="http://www.twitter.com"><div class="icon-wrapper icon-border-round"><i class="fa fa-rss"></i></div></a></li>
            </ul>
          </div><!-- /Top Menu right -->
        </div>
      </div> <!-- /Row-->
    </div> <!-- /Container -->
  </div><!-- /Header Top Container -->
  <div class="header-middle"><!-- Header Middle Container -->
    <div class="container"> <!-- Container -->
      <div class="row"><!-- Row-->
        <div class="col-md-6 col-md-offset-3">
          <div class="logo">
            <%= image_tag("logo.jpg", :style => "width: 400px; height:54px;", :alt=>"NewZiber Logo")%>
          </div>
        </div>
      </div><!-- /Row-->
    </div> <!-- /Container -->
  </div><!-- /Header Middle Container -->
	<!-- Header Bottom Container -->
  <div class="header-bottom" >
    <div class="container"> <!-- Container -->
      <div class="row"><!-- Row-->
        <div class="col-md-12">
          <!-- Navigation -->
          <div class="main-navigation">
            <a id="menu-button"></a>
            <ul id="main-menu" class="sm sm-default">
              <% if user_signed_in? %>
                <% if current_user.is_a?(Admin) %>
                  <li><%= link_to "Marcas", brands_path %></li>
                  <li><%= link_to "Categorias", categories_path %></li>
                  <li><%= link_to "Sucursales", locations_path %></li>
                  <li><%= link_to "Productos", products_path %></li>
                  <li><%= link_to "Empleados",users_path %></li>
                  <li><%= link_to "Reportes", reports_path %></li>
                  <li><%= link_to "Productos Descompuestos", break_products_path %></li>
                  <li><%= link_to "Perfil", edit_admin_registration_path, :class => "disabled has-submenu" %>
                    <ul>
                      <% if  can? :update, current_user %>
                        <li><%= link_to('Editar Perfil', edit_admin_registration_path) %></li>
                      <% end %>
                      <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  </li>
                <% elsif current_user.is_a?(Manager) %>
                  <li><%= link_to "Productos", products_path %></li>
                  <li><%= link_to "Empleados", users_path %></li>
                  <li><%= link_to "Reportes", reports_path %></li>
                  <li><%= link_to "Perfil", edit_manager_registration_path, :class => "disabled has-submenu" %>
                    <ul>
                      <% if  can? :update, current_user %>
                        <li><%= link_to('Editar Perfil', edit_manager_registration_path) %></li>
                      <% end %>
                      <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  </li>
                <% elsif current_user.is_a?(Secretary) %>
                  <li><%= link_to "Reportes", reports_path %></li>
                  <li><%= link_to "Perfil", edit_secretary_registration_path, :class => "disabled has-submenu" %>
                    <ul>
                      <% if  can? :update, current_user %>
                        <li><%= link_to('Editar Perfil', edit_secretary_registration_path) %></li>
                      <% end %>
                      <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  </li>
                <% elsif current_user.is_a?(Technician) %>
                  <li><%= link_to "Reportes", reports_path %></li>
                  <li><%= link_to "Perfil", edit_technician_registration_path, :class => "disabled has-submenu" %>
                    <ul>
                      <% if  can? :update, current_user %>
                        <li><%= link_to('Editar Perfil', edit_technician_registration_path) %></li>
                      <% end %>
                      <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to reports_path, :class => "disabled has-submenu" do %><i class="fa fa-book"></i> Reportes <% end %>
                    <ul>
                      <li><%= link_to('Historial', reports_path) %></li>
                      <li><%= link_to('Crear Reporte', new_report_path) %></li>
                    </ul>
                  </li>
                  <li><%= link_to edit_client_registration_path, :class => "disabled has-submenu" do %><i class="fa fa-user"></i> Perfil <% end %>
                    <ul>
                      <% if  can? :update, current_user %>
                        <li><%= link_to('Editar Perfil', edit_client_registration_path) %></li>
                      <% end %>
                      <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  </li>
                <% end %>
              <% else %>
                <li><%= link_to root_path do %><i class="fa fa-home"></i> Home<% end %></li>
                <li><%= link_to about_path do %><i class="fa fa-eye"></i> Conocenos<% end %></li>
                <li><%= link_to services_path do %><i class="fa fa-key"></i> Servicios<% end %></li>
                <li><%= link_to faq_path do %><i class="fa fa-question"></i> Preguntas<% end %></li>
              <% end %>
            </ul>
          </div>
          <!-- /Navigation -->
        </div>
      </div> <!-- /Row -->
    </div> <!-- /Container -->
  </div>
  <!-- /Header Bottom Container -->
</div>
<!-- /Header Container -->
