<div class="header-wrapper">
  <div id="login" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o"></i></button>
           <h3 class="modal-title title-color" id="myModalLabel"><i class="fa fa-user"></i> Iniciar Sesion</h3>
         </div>
         <div class="modal-body">
           <%= form_for(:client, :url => session_path(:client)) do |f| %>
             <div class="form-group input-group">
               <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
               <%= f.email_field :email, :class => "form-control", :placeholder => "Correo" %>
             </div>
             <div class="form-group input-group">
               <span class="input-group-addon"><i class="fa fa-key"></i></span>
               <%= f.password_field :password, :class => "form-control", :placeholder => "Contraeña" %>
             </div>
             <div class="form-group">
               <div class="checkbox">
                 <label><%= f.check_box :remember_me %>Recordar!</label> | <%= link_to "Olvidaste la Contraseña?", new_client_password_path %>
               </div>
             </div>
             <div class="form-group">
               <%= link_to "Registrase", new_client_registration_path %>
             </div>
             <div class="form-group">
               <%= f.submit "Aceptar", :class => "btn btn-primary btn-sm" %>
             </div>
           <% end %>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	<!-- Header Bottom Container -->
  <div class="header-bottom" >
    <div class="container"> <!-- Container -->
      <div class="row"><!-- Row-->
        <div class="col-md-12">
          <!-- Navigation -->
          <div class="main-navigation">
            <a id="menu-button"></a>
            <ul id="main-menu" class="sm sm-default">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Conocenos", about_path %></li>
              <li><a class="disabled has-submenu">Styles</a>
                <ul >
                  <li><a class="disabled has-submenu">Header Styles</a>
                    <ul>
                      <li><a href="header-top-dark.html">Dark Header (default)</a></li>
                      <li><a href="header-top-light.html">Light Header</a></li>
                      <li><a href="header-top-dark-center.html">Centered Header (dark)</a></li>
                      <li><a href="header-top-light-center.html">Centered Header (light)</a></li>
                      <li><a href="header-top-none.html">No Header</a></li>
                      <li><a href="header-top-none-center.html">Centered No Header</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Footer Styles</a>
                    <ul>
                      <li><a href="footer-default.html#footer-view">Wide (default)</a></li>
                      <li><a href="footer-boxed.html#footer-view">Boxed Footer</a></li>
                      <li><a href="footer-wide-small.html#footer-view">Small Footer Wide</a></li>
                      <li><a href="footer-boxed-small.html#footer-view">Small Footer Boxed</a></li>
                      <li><a href="footer-none.html#footer-view">No Footer</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Menu Styles</a>
                    <ul>
                      <li><a href="menu-default.html">Default Style</a></li>
                      <li><a href="menu-icons.html">Icons Menu</a></li>
                      <li><a href="menu-full-width.html">Full Width Style</a></li>
                      <li><a href="menu-tab.html">Tab Menu</a></li>
                      <li><a href="menu-radius.html">Radius Menu</a></li>
                      <li><a href="menu-separator.html">Separator Style</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Inner Pages - Headers</a>
                    <ul>
                      <li><a href="inner-header-default.html">Default</a></li>
                      <li><a href="inner-header-parallax.html">Parallax Inner Header</a></li>
                      <li><a href="inner-header-light.html">Light Inner Header</a></li>
                      <li><a href="inner-header-static.html">Static Image Header</a></li>
                      <li><a href="inner-header-fancy.html">Fancy Inner Header</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a class="disabled has-submenu">Pages</a>
                <ul >
                  <li><a class="disabled has-submenu">About Us</a>
                    <ul>
                      <li><a href="about-us.html">About Us (default)</a></li>
                      <li><a href="about-us-alternative.html">About Us Alternative</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Our Team</a>
                    <ul>
                      <li><a href="our-team.html">Our Team (default)</a></li>
                      <li><a href="our-team-header.html">Our Team Special Header</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Services</a>
                    <ul>
                      <li><a href="services.html">Services (default)</a></li>
                      <li><a href="services-alternative.html">Services Alternative</a></li>
                      <li><a href="services-header.html">Services Special Header</a></li>
                    </ul>
                  </li>
                  <li><a href="faq.html">F.A.Q.</a></li>
                  <li><a href="coming-soon.html">Comming Soon</a></li>
                  <li><a href="results.html">Search Results</a></li>
                  <li><a href="404.html">Custom 404</a></li>
                </ul>
              </li>
              <li><a class="disabled has-submenu">Portfolio</a>
                <ul >
                  <li><a class="disabled has-submenu">Portoflio 1 Column</a>
                    <ul>
                      <li><a href="portfolio-1-cols-with-text.html">Items With Text</a></li>
                      <li><a href="portfolio-1-cols-with-toggled-text.html">Items With Toggled Text</a></li>
                      <li><a href="portfolio-1-cols-without-text.html">Items Without Text</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Portfolio 2 Columns</a>
                    <ul>
                      <li><a href="portfolio-2-cols-with-text.html">Items With Text</a></li>
                      <li><a href="portfolio-2-cols-with-toggled-text.html">Items With Toggled Text</a></li>
                      <li><a href="portfolio-2-cols-without-text.html">Items Without Text</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Portfolio 3 Columns</a>
                    <ul>
                      <li><a href="portfolio-3-cols-with-text.html">Items With Text</a></li>
                      <li><a href="portfolio-3-cols-with-toggled-text.html">Items With Toggled Text</a></li>
                      <li><a href="portfolio-3-cols-without-text.html">Items Without Text</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Portfolio 4 Columns</a>
                    <ul>
                      <li><a href="portfolio-4-cols-with-text.html">Items With Text</a></li>
                      <li><a href="portfolio-4-cols-with-toggled-text.html">Items With Toggled Text</a></li>
                      <li><a href="portfolio-4-cols-without-text.html">Items Without Text</a></li>
                    </ul>
                  </li>
                  <li><a href="portfolio-mansonry-cols.html">Portfolio Mansonry</a></li>
                  <li><a class="disabled has-submenu">Portfolio Mixed Columns</a>
                    <ul>
                      <li><a href="portfolio-mixed-cols-with-text.html">Items With Text</a></li>
                      <li><a href="portfolio-mixed-cols-with-toggled-text.html">Items With Toggled Text</a></li>
                      <li><a href="portfolio-mixed-cols-without-text.html">Items Without Text</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Portfolio Sidebar</a>
                    <ul>
                      <li><a href="portfolio-sidebar-left.html">Portfolio Sidebar Left</a></li>
                      <li><a href="portfolio-sidebar-right.html">Portfolio Sidebar Right</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Portfolio Single Item</a>
                    <ul>
                      <li><a class="disabled has-submenu">Full Width</a>
                        <ul>
                          <li><a href="portfolio-single-full-slider.html">Slider</a></li>
                          <li><a href="portfolio-single-full-images.html">Images</a></li>
                          <li><a href="portfolio-single-full-gallery.html">Gallery</a></li>
                          <li><a href="portfolio-single-full-video.html">Video</a></li>
                        </ul>
                      </li>
                      <li><a class="disabled has-submenu">Split Half</a>
                        <ul>
                          <li><a href="portfolio-single-split-slider.html">Slider</a></li>
                          <li><a href="portfolio-single-split-gallery.html">Gallery</a></li>
                          <li><a href="portfolio-single-split-video.html">Video</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a class="disabled has-submenu">Shop</a>
                <ul >
                  <li><a href="index-shop.html">Home Shop Page</a></li>
                  <li><a href="shop-default.html">Interior Shop Page</a></li>
                  <li><a href="shop-item.html">Product Page</a></li>
                  <li><a href="shop-checkout.html">Checkout</a></li>
                </ul>
              </li>
              <li><a class="disabled has-submenu">Blog</a>
                <ul >
                  <li><a class="disabled has-submenu">Blog Image</a>
                    <ul>
                      <li><a href="blog-image-big.html">Blog Big Image</a></li>
                      <li><a href="blog-image-medium.html">Blog Medium Image</a></li>
                      <li><a href="blog-image-small.html">Blog Small Image</a></li>
                    </ul>
                  </li>
                  <li><a class="disabled has-submenu">Blog Double Sidebar</a>
                    <ul>
                      <li><a href="blog-double-left.html">Blog Double Left</a></li>
                      <li><a href="blog-double-right.html">Blog Double Right</a></li>
                    </ul>
                  </li>
                  <li><a href="blog-grid.html">Blog Grid Layout</a></li>
                  <li><a href="blog-timeline.html">Blog Timeline Layout</a></li>
                  <li><a class="disabled has-submenu">Blog Single Article</a>
                    <ul>
                      <li><a href="blog-single.html">Blog Single Article Sidebar</a></li>
                      <li><a href="blog-single-nosidebar.html">Blog Single Article No Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a class="disabled has-submenu">Contact</a>
                <ul >
                  <li><a href="contact.html">Contact Big Map (default)</a></li>
                  <li><a href="contact.php">Contact Working Form</a></li>
                  <li><a href="contact-noheader.html">Contact No Header </a></li>
                  <li><a href="contact-split.html">Contact Split Half</a></li>
                  <li><a href="contact-sidebar.html">Contact With Sidebar</a></li>
                </ul>
              </li>
              <% if client_signed_in? %>
                <li><a class="disabled has-submenu"><i class="fa fa-user">Perfil</i></a>
                  <ul>
                    <% if  can? :update, current_client %>
                      <li><%= link_to('Editar Perfil', edit_client_registration_path) %></li>
                    <% end %>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                </li>
                </ul>
              </div>
            <% else %>
                </ul>
              </div>
              <div class="top-search hidden-xs hidden-sm"><!-- Top Search -->
                <div class="top-login">
                  <a  data-target="#login" data-toggle="modal" class="toggle-link"><i class="fa fa-user"></i> Iniciar Sesion</a>
                </div>
              </div><!-- /Top Search -->
            <% end %>
          <!-- /Navigation -->
        </div>
      </div> <!-- /Row -->
    </div> <!-- /Container -->
  </div>
  <!-- /Header Bottom Container -->
</div>
<!-- /Header Container -->

<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "New Ziber", root_path, :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="active"><%= link_to "Marcas", brands_path %></li>
            <li><%= link_to "Categorias", categories_path %></li>
            <li><%= link_to "Sucursales", locations_path %></li>
            <li><%= link_to "Productos", products_path %></li>
            <li><%= link_to "Empleados", users_admin_index_path %></li>
            <li><%= link_to "Reportes", reports_path %></li>
            <li><%= link_to "Productos Descompuestos", break_products_path %></li>
          <% elsif current_user.manager? %>
            <li><%= link_to "Productos", products_path %></li>
            <li><%= link_to "Empleados", users_admin_index_path %></li>
            <li><%= link_to "Reportes", reports_path %></li>
          <% elsif current_user.receptionist? %>
            <li><%= link_to "Reportes", reports_path %></li>
          <% else %>
            <li><%= link_to "Reportes", reports_path %></li>
          <% end %>
        <% elsif client_signed_in? %>
          <li><%= link_to "Reportes", reports_path %></li>
          <li><%= link_to "Crear Reporte", new_report_path %></li>
        <% else %>
          <li><%= link_to('Login Empleado', new_user_session_path)  %></li>
          <li><%= link_to('Login Cliente', new_client_session_path)  %></li>
        <% end %>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if  can? :update, current_user %>
                <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </li>
        </ul>
      <% end %>
      <% if client_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if  can? :update, current_client %>
                <li><%= link_to('Editar Perfil', edit_client_registration_path) %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Logout', destroy_client_session_path, :method => :delete) %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
 -->
