<!DOCTYPE html>
<html>
  <head>
    <title>NewZiber</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/admin_header' %>
      <%= yield %>
    <% else %>
      <div class="page-wrapper">
        <%= render 'layouts/header' %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
          <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    <% end %>
  </body>
</html>
